body {
    margin-top: 0;
}
.header-image {
    background-image: url(../img/technology-1900x500.jpg);
}

.headline h1 {
    font-size: 90px;
    padding-bottom: 20px;
}
body h2 {
    margin-bottom: 10px;
}
.featurette {
    margin-left: -15px;
}
.nameslist, .noisewords {
    max-height: 150px;
    overflow-y: scroll;
    margin-top: 30px;
}
.nameslist ul, .noisewords ul {
    list-style: none;
    padding: 0;
}
.search-result {
    padding-top: 20px;
}
.lists h2 {
    margin-bottom: 30px;
}
.flowchart h2 {
    margin-bottom: 30px;
}
.flowchart img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
@media (max-width: 767px) {
    .headline h1 {
        font-size: 60px;
    }
    .featurette {
        margin: 20px 0 20px -15px;
    }
}