body {
    margin-top: 0;
}
.header-image {
    background-image: url(../img/technology-1900x500.jpg);
}

.headline h1 {
    font-size: 90px;
    padding-bottom: 20px;
}
.featurette {
    margin-left: -15px;
}
.nameslist, .noisewords {
    max-height: 150px;
    overflow-y: scroll;
    margin-top: 30px;
}
.nameslist ul, .noisewords ul {
    list-style: none;
    padding: 0;
}
.search-result {
    padding-top: 20px;
}
@media (max-width: 767px) {
    .headline h1 {
        font-size: 60px;
    }
    .featurette {
        margin: 20px 0;
    }
}